@import "../../index.scss";

.title {
  // color: $textColor;

  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 2.4rem 0;
}

.carousel {
  width: 90%;
  margin: auto;
  height: 76vh;
  overflow: hidden;
}

.carousel__img {
  vertical-align: middle;
  object-fit: contain;
  color: $whiteColor;
  line-height: 75vh;
  text-align: center;
  background: #364d79;
}
