@import "../../index.scss";

.form__wrapper {
  width: 35rem;
  border: 0.1rem solid $blackColor;
  border-radius: 0.5rem;
  padding: 1.6rem;
}

.title {
  font-size: 2.4rem;
  color: $textColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2.8rem;
}

.input__icon {
  color: #afafaf !important;
}

.birth__input {
  & > div > div > div > div > div {
    width: 100% !important;

    & > div > span {
      order: -1;
      margin-inline-start: 0 !important;
      margin-right: 0.4rem !important;
    }
  }
}

.info__show {
  margin: 2rem;
  color: $textColor;
}

.form__button {
  margin-right: 2rem;
}
